Repository euphony-io/euphony, pull requests merged in 2022-07, with the labels that each got.

#136 Update README.md
  GETTING_STARTED.md
  GETTING_STARTED_KR.md
  README.md
Labels: documentation

#141 Update comments in EuTxManager.java, GETTING_STARTED.md and GETTING_STARTED_KR.md
  GETTING_STARTED.md
  GETTING_STARTED_KR.md
  README.md
  euphony/src/main/java/co/euphony/tx/EuTxManager.java
Labels: documentation

#164 Remove legacy stuff & Update .gitignore
  .DS_Store
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/vcs.xml
  euphony/.DS_Store
  import-summary.txt
Labels: Clean Code

#153 Create 'documentation' template
  .github/ISSUE_TEMPLATE/documentation.yaml
Labels: enhancement, documentation

#171 Deleted duplicate menus in issues tab
  .github/ISSUE_TEMPLATE/custom.md
Labels: good first issue
